
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);




/* http://blabber.ancorathemes.com/   */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 2 rem;
    font-weight: 400;
    line-height: 1.7;
    overflow-x: hidden;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
   height: 10%;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Lobster', cursive;
}
div#carousel .carousel-inner {
    height: 84vh;
}
.c1 {
    background-color: #888ed487;
}
nav#navbar, #navbarNav {
    background-color: #bac6ef;
}
h1 ,h2 ,h5{
    font-family: 'Lobster', cursive;
}
#body_cover{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    z-index: 0;
    background: rgb(184,198,223); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(184,198,223,1) 51%, rgba(109,136,183,1) 78%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(184,198,223,1) 51%,rgba(109,136,183,1) 78%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(184,198,223,1) 51%,rgba(109,136,183,1) 78%);
}