
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap);




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 2 rem;
    font-weight: 400;
    line-height: 1.7;
}